<%= form_with model: [:admin, @survey] do |f| %>
  <div class="form-group">
    <%= f.label :title, "Name this survey (eg. Onboarding survey)", class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <h2>Questions</h2>
  <div id="questions">
    <%= f.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
    <% end %>
    <div class="links mb-3">
      <%= link_to_add_association 'Add', f, :questions, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary", data: { disable_with: "Saving..." } %>
  </div>
<% end %>